{% extends 'menu.html' %}

{% block css %}
{% endblock %}

{% block header_scripts %}
{% endblock %}
{% block title %}Editar Nicho{% endblock %}

{% block content %}
<h4 class="title is-4">Editar Nicho</h4>
<div class="container">
    <form id="formUpdateNicho" action="{{ url_for('nichos.update_nicho') }}" method="post">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">Modificar información</p>
            </header>
            <div class="card-content">
                <div class="content">
                    <input type="text" name="cod_nicho" id="cod_nicho" value="{{ nicho[0] }}" hidden>
                    <div class="field is-horizontal">
                        <div class="field-label" style="font-size: small;">
                            <label for="nom_nicho" class="label is-small">Nombre: <strong style="color: red;">*</strong></label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input type="text" name="nom_nicho" id="nom_nicho" class="input is-small" value="{{ nicho[1] }}" required>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <button type="submit" class="button is-normal is-success">
                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/actualizar.png') }}" alt="icon-actualizar"></i></span>
                    <span>Actualizar</span>
                </button>
            </p>
            <p class="control">
                <a id="btn_cancelar" class="button is-normal is-danger">
                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/cancelar.png') }}" alt="icon-cancelar"></i></span>
                    <span>Cancelar</span>
                </a>
            </p>
        </div>
    </form>
</div>
{% endblock %}

{% block foot_scripts %}
<script src="{{ url_for('static', filename='js/nichos/editar_nicho.js') }}"></script>
{% endblock %}