{% extends 'menu.html' %}

{% block css %}
{% endblock %}

{% block header_scripts %}
{% endblock %}

{% block title %}Registro de Votantes{% endblock %}

{% block content %}
<h4 class="title is-4">Registro de Votantes</h4>
<div class="container">
    <div class="field is-grouped">
        <p class="control">
            <a href="{{ url_for('registros.nuevo_registro') }}" class="button is-normal is-info">
                <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/añadir.png') }}" alt="icon-añadir"></i></span>
                <span>Nuevo Registro</span>
            </a>
        </p>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Registros de Personas</p>
        </header>
        <div class="card-content">
            <div class="content">
                <table id="tablaRegistros" class="table is-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 10%;">ID</th>
                            <th scope="col" style="width: 10%;">NUIP</th>
                            <th scope="col" style="width: 30%;">Nombre Completo</th>
                            <th scope="col" style="width: 20%;">Registrado Por</th>
                            <th scope="col" style="width: 20%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for registro in registros %}
                        <tr>
                            <td style="width: 10%;">{{ registro.ID }}</td>
                            <td style="width: 10%;">{{ registro.nuip }}</td>
                            <td style="width: 30%;">{{ registro.nombre }}</td>
                            <td style="width: 30%;">{{ registro.usuario }}</td>
                            <td style="width: 20%;">
                                <a href="{{ url_for('registros.editar_registro', id = registro.ID ) }}" class="button is-small is-info has-tooltip-bottom" data-tooltip="Editar" style="padding: 0em 1.0em;">
                                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/editar.png') }}" alt="icon-editar"></i></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block foot_scripts %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
            Swal.fire({
                title: "Notificación!",
                text: "{{ message }}",
                icon: "{{ category }}"
            });
        </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<script src="{{ url_for('static', filename='js/registros/registros.js') }}"></script>
{% endblock %}