{% extends 'menu.html' %}

{% block css %}
{% endblock %}

{% block header_scripts %}
{% endblock %}
   
{% block title %}Nuevo Usuario{% endblock %}

{% block content %}
<h4 class="title is-4">Nuevo Usuario</h4>
<div class="container">
    <form id="formAddUsuario" action="{{ url_for('usuarios.add_usuario') }}" method="post">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">Ingrese la información</p>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="" class="label is-normal">Nro. Documento: <strong style="color: red;">*</strong></label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <input type="text" class="input is-normal" name="doc_usuario" id="doc_usuario" required>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="" class="label is-normal">Nombre Completo: <strong style="color: red;">*</strong></label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <input type="text" class="input is-normal" name="nombre_completo" id="nombre_completo" required>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="" class="label is-normal">Usuario: <strong style="color: red;">*</strong></label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <input type="text" class="input is-normal" name="usuario" id="usuario" required>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="" class="label is-normal">Contraseña: <strong style="color: red;">*</strong></label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <input type="password" class="input is-normal" name="password" id="password" required>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="" class="label is-normal">Perfil: <strong style="color: red;">*</strong></label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="field-body">
                                    <div class="field is-grouped">
                                        <p class="control">
                                            <span class="select is-normal">
                                                <select name="perfil" id="perfil" required>
                                                    <option value=""></option>
                                                    {% for p in perfil %}
                                                    <option value="{{ p.id_perfil }}">{{ p.nom_perfil }}</option>
                                                    {% endfor %}
                                                </select>
                                            </span>
                                        </p>
                                        <p class="control">
                                            <a id="btn_buscarFuncionario" class="button is-normal is-info has-tooltip-bottom js-modal-trigger" data-tooltip="Asociar Funcionario" data-target="modal-busquedaFuncionarios">
                                                <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/usuario.png')}}" alt="icon-usuario"></i></span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <button type="submit" class="button is-success">
                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/guardar.png') }}" alt="icon"></i></span>
                    <span>Guardar</span>
                </button>
            </p>
            <p class="control">
                <a id="btn_cancelar" class="button is-danger">
                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/cancelar.png') }}" alt="icon"></i></span>
                    <span>Cancelar</span>
                </a>
            </p>
        </div>
    </form>
</div>

<!-- Modal Busqueda de Funcionarios -->
<div id="modal-busquedaFuncionarios" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Asociar Funcionario</p>
                <button class="delete is-normal" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <table id="tablaBusquedaFuncionarios" class="table is-striped is-hoverable" style="width: 100%; cursor: pointer;">
                    <thead>
                        <tr>
                            <th scope="col" style="font-size: small; width: 20%;">NUIP</th>
                            <th scope="col" style="font-size: small; width: 60%;">Nombre Completo</th>
                            <th scope="col" style="font-size: small; width: 20%;">Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for funcionario in funcionarios %}
                        <tr>
                            <td style="font-size: small; width: 20%;">{{ funcionario.nuip }}</td>
                            <td style="font-size: small; width: 80%;">{{ funcionario.nombre }}</td>
                            <td style="font-size: small; width: 20%;">{{ funcionario.rol }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block foot_scripts %}
<script src="{{ url_for('static', filename='js/usuarios/nuevo_usuario.js') }}"></script>
{% endblock %}