{% extends 'menu.html' %}

{% block css %}
{% endblock %}

{% block header_scripts %}
{% endblock %}
   
{% block title %}{% endblock %}

{% block content %}
<h4 class="title is-4">Usuarios del Sistema</h4>
<div class="container">
    <div class="field is-grouped">
        <p class="control">
            <a href="" class="button is-normal is-info">
                <span class="icon is-small"></span>
                <span>Nuevo Usuario</span>
            </a>
        </p>
    </div>
</div>
{% endblock %}

{% block foot_scripts %}
{% endblock %}