{% extends 'menu.html' %}

{% block css %}
<style>
    .container > .panel {
        margin-top: 20%;
        margin-bottom: 20%;
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        justify-content: center;
        box-shadow: none;
    }
</style>
{% endblock %}

{% block header_scripts %}
{% endblock %}
   
{% block title %}Ventana Principal{% endblock %}

{% block content %}
<div class="container">
    <div class="box panel">
        <h3 class="title is-3" style="text-align: center;">Bienvenido(a) <br> Para empezar, seleccione una opción del menú superior</h3>
    </div>
</div>
{% endblock %}

{% block foot_scripts %}
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
{% endblock %}