<!DOCTYPE html>
<html lang="es" class="has-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bulma Framework -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulmaswatch.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-tooltip.min.css') }}">
    <!-- SweetAlert -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
    <!-- CSS Datatables -->
    <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.1/css/bulma.min.css"> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bulma.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bulma.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css">
    {% block css %}
    {% endblock %}
    {% block header_scripts %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="{{ url_for('index.main') }}" class="navbar-item">
                #YOMEATREVO
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ url_for('usuarios.usuarios') }}" class="navbar-item">
                    <span>Usuarios</span>
                </a>
                <a href="#" class="navbar-item">
                    <span>Registro de Personas</span>
                </a>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <span>User</span>
                </a>
                <div class="navbar-dropdown">
                     <a href="#" class="navbar-item">
                        <span>Salir</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>

<script src="{{ url_for('static', filename='js/sweetalert2.all.min.js') }}"></script>
<!-- Scripts DataTables -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.bulma.js"></script>
{% block foot_scripts %}
{% endblock %}
</html>