<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bulma Framework -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulmaswatch.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-tooltip.min.css') }}">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icons/favicon.ico') }}">
    <!-- SweetAlert -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
    <!-- CSS Datatables -->
    <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.1/css/bulma.min.css"> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bulma.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bulma.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css">
    {% block css %}
    {% endblock %}
    {% block header_scripts %}
    {% endblock %}
    <style>
        /* Ajusta este valor según la altura real del navbar */
        .main-content {
        padding-top: 3.25rem; /* Altura típica del navbar en Bulma */
        }
    </style>
    <title>{% block title %}{% endblock %} - Gestor de Campaña</title>
</head>
<body>
    <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="{{ url_for('index.main') }}" class="navbar-item">
                #YOMEATREVO
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                 <!-- Menú Parametrización -->
                <div id="menu1" class="navbar-item has-dropdown is-hoverable is-hidden">
                    <a class="navbar-link">
                        <span>Parametrización</span>
                    </a>
                    <div class="navbar-dropdown">
                        <a id="funcionariosLink" href="{{ url_for('funcionarios.funcionarios') }}" class="navbar-item">
                            <span>Funcionarios</span>
                        </a>
                        <a id="nichosLink" href="{{ url_for('nichos.nichos') }}" class="navbar-item">
                            <span>Nichos</span>
                        </a>
                        <a id="campanaLink" href="{{ url_for('campañas.campañas') }}" class="navbar-item">
                            <span>Campañas</span>
                        </a>
                        <a id="usuariosLink" href="{{ url_for('usuarios.usuarios') }}" class="navbar-item">
                            <span>Usuarios del Sistema</span>
                        </a>
                    </div>
                </div>
                <!-- Reportes y Analatica -->
                <div id="menu2" class="navbar-item has-dropdown is-hoverable is-hidden">
                    <a class="navbar-link">
                        <span>Reportes y Analitica</span>
                    </a>
                    <div class="navbar-dropdown">
                        <a id="reportesLink" href="#" class="navbar-item">
                            <span>Reportes</span>
                        </a>
                        <a id="dashboardLink" href="{{ url_for('reportes.dashboard') }}" class="navbar-item">
                            <span>Dashboard Analisís</span>
                        </a>
                    </div>
                </div>
                <!-- Registros -->
                <a id="registrosLink" href="{{ url_for('registros.registros') }}" class="navbar-item is-hidden">
                    <span>Registro de Simpatizantes</span>
                </a>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <span>{{ session['name'] }}</span>
                    <span hidden>
                        <input type="text" name="profile" id="profile" class="input" value="{{ session['profile'] }}" readonly hidden>
                    </span>
                </a>
                <div class="navbar-dropdown">
                     <a href="{{ url_for('index.logout')}}" class="navbar-item">
                        <span class="icon is-small"><img src="{{ url_for('static', filename='img/icons/salida.png') }}" alt="icon-salida"></span>
                        <span>Salir</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</body>

<script src="{{ url_for('static', filename='js/profiles.js')}}"></script>
<script src="{{ url_for('static', filename='js/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<!-- Scripts DataTables -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.bulma.js"></script>
{% block foot_scripts %}
{% endblock %}
</html>